/* Reseteo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* HTML y Body */
html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0014;
}

/* Root */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0a0014;
  position: relative;
}